body{
    font-family: 'Montserrat', sans-serif;
}

.form-control {
    
    width: 40%;
    min-width: 40%;
    color: #495057;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: auto;
    border: none;
    border-radius: 0px;
    border-bottom: 4px solid rgb(0, 209, 0);
}

.form-control:focus {
   
    box-shadow: none;
}

@media (max-width:400px){
    .p-5 {
        padding: .5rem!important;
    }

    .h1, h1 {
        font-size: 2rem;
    }
}